To make analyzing the data easier, we are first going to convert the minute by minute Bitcoin data into different forms (daily, weekly, monthly) and store that data into different csv files for the ease of use later on.

In [15]:
import pandas as pd

raw_data = pd.read_csv('..\\data\\btc_usd_min_ohlc.csv').dropna(how='any')

In [20]:
raw_data.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

First lets define a function to help gather data about timeframes

In [27]:
def get_data_in_period(start_time, end_time):
    period_data = raw_data.loc[(raw_data['Timestamp'] >= start_time) & (raw_data['Timestamp'] < end_time)]
    
    return_data = dict(period_start_utc=[None], volume=[None], open=[None], high=[None], low=[None], close=[None])
    data_stats = period_data.describe()
    if data_stats['Open']['count'] == 0:
        return return_data
    
    return_data['period_start_utc'] = [start_time]
    return_data['volume'] = [period_data['Volume_(BTC)'].sum()]
    return_data['open'] = [period_data['Open'].iat[0]]
    return_data['high'] = [data_stats['High']['max']]
    return_data['low'] = [data_stats['Low']['min']]
    return_data['close'] = [period_data['Close'].iat[-1]]
    
    return return_data

Lets get the daily data

In [28]:
start_time = 1325376000  # 01-01-2012 00:00:00 (second day since when we have data from)
end_time = 1617148800  # 31-03-2021 00:00:00 (last day that we have data from)

current_time = start_time

daily_data = []

while current_time < end_time:
    day_data = get_data_in_period(current_time, current_time + 86399)  # From current_time till the end of the day (23:59:59)
    daily_data.append(pd.DataFrame.from_dict(day_data))
    current_time += 86400
    
daily_dataframe = pd.concat(daily_data)
daily_dataframe.to_csv("..\\data\\bitcoin_ohlc_daily.csv")

Lets get the weekly data

In [ ]:
start_time = 1325462400  # 02-01-2012 00:00:00 (second day since when we have data from)
end_time = 1616976000  # 29-03-2021 00:00:00 (last day that we have data from)

current_time = start_time

daily_data = []

while current_time < end_time:
    day_data = get_data_in_period(current_time, current_time + 86399)  # From current_time till the end of the day (23:59:59)
    daily_data.append(pd.DataFrame.from_dict(day_data))
    current_time += 86400
    
daily_dataframe = pd.concat(daily_data)
daily_dataframe.to_csv("..\\data\\bitcoin_ohlc_daily.csv")